@import url("https://fonts.googleapis.com/css?family=Kristi|Roboto");

* {
    padding: 0;
    margin: 0;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    background: linear-gradient(to bottom, #9cedff 0%, #3e82c3 100%);
}

h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 4em;
    font-weight: normal;
}

#app{
    width: 100%;
}

#todoList {
    width: 80%;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: -2px 2px 2px -1px rgba(0, 0, 0, 0.15);
    background: white;
    overflow: hidden;
}

#todoList ul {
    list-style: none;
    padding: 25px;
}

#todoList ul li {
    display: flex;
    align-items: center;
    line-height: 1;
    user-select: none;
}

#todoList ul li:not(:last-child) {
    padding-bottom: 15px;
}

#todoList ul li:hover {
    cursor: text;
}

#todoList ul li .checkBox {
    width: 20px;
    height: 20px;
    border: 2px solid #ddd4ce;
    border-radius: 50%;
    margin-right: 15px;
    position: relative;
    display: flex;
    opacity: 0.7;
}

#todoList ul li .checkBox:hover {
    cursor: pointer;
    opacity: 1;
}

#todoList ul li .checkBox,
#todoList ul li .checkBox:before {
    transition: all 0.2s ease-in-out;
}

#todoList ul li .checkBox:before {
    content: "\f00c";
    font-family: "FontAwesome";
    margin: auto;
    font-size: 0.8em;
    color: #31ecb8;
    opacity: 0;
    transform: scale(0.5);
}

#todoList ul li .checkBox.done {
    border-color: #31ecb8;
    opacity: 1;
}

#todoList ul li .checkBox.done:before {
    opacity: 1;
    transform: scale(1);
}

#todoList ul li i {
    margin-left: auto;
    padding-left: 15px;
    opacity: 0;
    color: #ff3c41;
    transition: all 0.2s ease-in-out;
    font-size: 1.2em;
}

#todoList ul li:hover i {
    opacity: 1;
    cursor: pointer;
}

#todoList ul li span {
    position: relative;
}

#todoList ul li span,
#todoList ul li span:before {
    transition: all 0.2s ease-in-out;
}

#todoList ul li span:before {
    content: '';
    height: 1px;
    background: #c3bbb6;
    width: 0%;
    top: 50%;
    position: absolute;
    left: 0;
}

#todoList ul li.done span {
    color: #c3bbb6;
}

#todoList ul li.done span:before {
    width: 100%;
}

#todoList #newTask {
    background: rgba(0, 0, 0, 0.05);
    padding: 15px;
    display: flex;
}

#todoList #newTask input {
    flex: 1;
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    outline: none;
    border-left: 5px solid #f65050;
    font-family: 'Roboto', sans-serif;
}

#todoList #newTask button {
    outline: none;
    border: none;
    border-radius: 50%;
    font-size: 1.5em;
    color: white;
    background: #f65050;
    display: flex;
    width: 35px;
    height: 35px;
    transition: all 0.15s ease-in-out;
}

#todoList #newTask button span {
    margin: auto;
}

#todoList #newTask button:hover {
    cursor: pointer;
    background: #ff5c60;
}

::placeholder {
    color: rgba(0, 0, 0, 0.3);
}