# ESLint defaults (no need to list):
#   - Folders excluded automatically (node_modules/)
#   - Non-JS files (CSS, images, fonts, *.md, LICENSE, etc.)
#   - Files with unknown or extensionless types (.gitignore, .editorconfig)
#
# Add below any extra paths that should not be linted.


# FOLDERS
.nuxt
dist
