# This project works with node 14 version.
# There is a way to specify this in the `packages.json` file, so that the installer automatically checks and informs users if they need to upgrade.
# 1. Set the `engines` field in your `package.json`.
# 2. Set requirements for either `node` or `npm` versions or both.
# 3. To enforce this via `npm` you need to create an `.npmrc` file (and commit it to the repository).
# 4. Set the `engine-strict` option to `true`, which will cause `npm` commands such as `npm install` to fail if the required engine versions to not match.
engine-strict=true
