# Prettier defaults (no need to list):
#   - Folders excluded automatically (node_modules/, .git/)
#   - Files with unknown or extensionless types (.gitignore, LICENSE, .editorconfig)
#   - Binary files (images, fonts, etc.)
#
# Add below any extra paths that should not be formatted.


# FOLDERS
.nuxt
dist
