{
	"arrowParens": "avoid",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "ignore",
	"insertPragma": false,
	"bracketSameLine": false,
	"jsxSingleQuote": false,
	"printWidth": 80,
	"proseWrap": "always",
	"quoteProps": "preserve",
	"requirePragma": false,
	"semi": true,
	"singleAttributePerLine": true,
	"singleQuote": false,
	"tabWidth": 4,
	"trailingComma": "all",
	"useTabs": true,
	"vueIndentScriptAndStyle": true,
	"overrides": [
		{
			"files": [
				".prettierrc"
			],
			"options": {
				"parser": "json"
			}
		},
		{
			"files": [
				"*.json"
			],
			"options": {
				"printWidth": 0
			}
		}
	]
}
