// ABSTRACTS - VARIABLES
// COLORS
// =================================================





// BRAND
// -----------------
$color-brand-1: #9cedff;
$color-brand-2: #3e82c3;
$color-brand-3: #012E59;



// SHADES OF GRAY
// -----------------
$color-white: #ffffff;
$color-ghost: #f2f2f2;
$color-light: #dcdfe3;
$color-silver: #c3bbb6;
$color-gray: #999999;
$color-dark: #353535;
$color-black: #000000;



// STATUS
// -----------------
$color-error: #f65050;
$color-success: #31ecb8;