// ABSTRACTS - VARIABLES
// FONTS
// =================================================





// FONTS
// -----------------
$font-1: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", "Arial", sans-serif;
$font-2: "Roboto", sans-serif;



// FONT BRAND
// -----------------
$font-brand-1: $font-1;
$font-brand-2: $font-2;