// ABSTRACTS - VARIABLES
// FONTS
// =================================================

// FONTS
// ----------------------------------------------------------------------
$font-1: "Trebuchet MS", sans-serif;
$font-2: "Roboto", sans-serif;

// BRAND
// ----------------------------------------------------------------------
$font-brand-1: $font-1;
$font-brand-2: $font-2;
